{% extends "base_chat.html" %} {% block title %}Chat | FlatMate Finder{%
endblock %} {% block extra_css %}
<style>
  /* ===== CHAT LAYOUT ===== */
  .chat-container {
    flex: 1;
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    overflow: auto;
    background: #cfe7ee;
  }

  .chat-header {
    padding: 12px 16px;
    background: #1b2348;
    color: white;
  }

  .flat-location {
    display: block;
    font-size: 0.85rem;
    color: #d1d9ff;
  }

  .chat-messages {
    font-size: 25px;
    flex: 1;
    padding: 16px;
    overflow: auto;
  }

  .chat-input {
    position: relative;
    display: flex;
    align-items: stretch;
    padding: 12px;
    background-color: #fff;
    border-top: 1px solid #ddd;
  }

  .chat-input input {
    flex: 1;
    padding: 10px;
    border: 1px inset #ccc;
  }

  .chat-input button {
    padding: 10px 18px;
    background: green;
    color: white;
    border: 1px inset;
  }

  @media (max-width: 768px) {
    .chat-input {
      background-color: #fff;
      overflow: auto;
      display: flex;
      
      align-items: center;
      margin-top: 16rem;
      border-radius: 7px;
    }

    .chat-input input {
      height: auto;
      width: auto;
    }

    .chat-input button {
      height: auto;
      width: auto;
    }
  }

  @media (max-width: 426px) {
    .chat-input {
      display: flex;
      justify-content: center;
      margin: 0 10px;
      margin-top: 16rem;
    }
  }
</style>
{% endblock %} {% block chatcontent %}
<div class="chat-container">
  <div class="chat-header">
    <h4 style="pointer-events: none">
      Chat with {{ receiver.username }}
      <small class="flat-location">
        📍{{ flat.location }} {% if flat.rent %} • ₹{{ flat.rent }}{% endif %}
      </small>
    </h4>
  </div>

  <div class="chat-messages">
    {% for msg in messages %}
    <div
      class="{% if msg.sender_id == current_user.id %}text-end{% else %}text-start{% endif %} mb-2"
    >
      <span
        class="badge bg-{% if msg.sender_id == current_user.id %}primary{% else %}secondary{% endif %}"
      >
        {{ msg.message }}
      </span>
    </div>
    {% endfor %}
  </div>

  
    <form class="chat-input" method="post" action="/messages/send">
      <input type="hidden" name="receiver_id" value="{{ receiver.id }}" />
      <input type="hidden" name="flat_id" value="{{ flat_id }}" />
      <input
        type="text"
        name="message"
        placeholder="Type a message..."
        required
      />
      <button type="submit">Send</button>
    </form>
  
</div>
{% endblock %}
