{% extends "base_dash.html" %} {% block title %}FlatMate Finder{%endblock %} {%
block extra_css %}
<style>
  .red {
    color: red;
  }
</style>
{%endblock %} {% block createpost %}

<h3 style="pointer-events: none">Create Flatmate Finder Post</h3>
<br />

<form action="/dash/flatpost/createpost" method="post">
  <div class="mb-3">
    <label class="form-label">Location<span class="red">*</span></label>
    <input
      type="text"
      name="location"
      class="form-control"
      placeholder="Enter location"
      required
    />
  </div>

  <div class="mb-3">
    <label class="form-label">City<span class="red">*</span></label>
    <input
      type="text"
      name="city"
      class="form-control"
      placeholder="Enter city"
      required
    />
  </div>

  <div class="mb-3">
    <label class="form-label"
      >Flatmates Required<span class="red">*</span></label
    >
    <input
      type="number"
      name="flatmates_required"
      class="form-control"
      placeholder="Enter flatmates required"
      required
    />
  </div>

  <div class="mb-3">
    <label class="form-label">Rent<span class="red">*</span></label>
    <input
      type="number"
      name="rent"
      class="form-control"
      placeholder="Enter rent"
      required
    />
  </div>

  <div class="mb-3">
    <label class="form-label d-block"
      >Preferred Gender<span class="red">*</span></label
    >
    <div class="form-check form-check-inline">
      <input
        class="form-check-input"
        type="radio"
        name="preferred_gender"
        value="male"
        id="male"
        required
      />
      <label class="form-check-label" for="male">Male</label>
    </div>
    <div class="form-check form-check-inline">
      <input
        class="form-check-input"
        type="radio"
        name="preferred_gender"
        value="female"
        id="female"
      />
      <label class="form-check-label" for="female">Female</label>
    </div>

    <div class="form-check form-check-inline">
      <input
        class="form-check-input"
        type="radio"
        name="preferred_gender"
        value="other"
        id="other"
      />
      <label class="form-check-label" for="other">Other</label>
    </div>

    <div class="form-check form-check-inline">
      <input
        class="form-check-input"
        type="radio"
        name="preferred_gender"
        value="any"
        id="any"
      />
      <label class="form-check-label" for="any">Any</label>
    </div>
  </div>

  <div class="mb-3">
    <label class="form-label">Description<span class="red">*</span></label>
    <input
      type="text"
      name="description"
      class="form-control"
      placeholder="Enter desc."
      required
    />
  </div>

  <button type="submit" class="btn btn-dark w-100">Create Post</button>
</form>
{%endblock%}
