{% extends "base_dash.html"%} {% block title %}FlatMate Finder{%endblock%} {%
block extra_css %}
<style>
  .posts_info {
    font-size: 25px;
  }
  .srno {
    align-items: center;
  }
</style>
{%endblock%} {% block myposts %}

<h3 style="pointer-events: none">Flat Posts</h3>

<table class="table table-bordered table-hover mt-3">
  <thead class="table-dark">
    <tr>
      <th>Sr no.</th>
      <th>Location</th>
      <th>City</th>
      <th class="text-center">Rent</th>
      <th class="text-center">Gender Preferred</th>
      <th>Description</th>
      <th class="action text-center">Action</th>
    </tr>
  </thead>

  <tbody>
    {% for post in myposts %}
    <tr>
      <td class="text-center">{{ loop.index }}</td>
      <td>{{ post.location }}</td>
      <td>{{ post.city }}</td>
      <td class="text-center">{{ post.rent }}</td>
      <td class="text-center">{{ post.preferred_gender.value }}</td>
      <td>{{ post.description }}</td>
      <td class="text-center">
        {% if post.user_id == current_user.id %}

        <form method="post" action="/dash/flatpost/deletepost/{{ post.id }}">
          <button
            type="submit"
            onclick="return confirm('Are you sure you want to delete this post?');"
            class="btn btn-danger btn-sm"
          >
            Delete
          </button>
        </form>

        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
